.userContainer {
  width: 20%;
  display: flex;
  position: fixed;
}

.postsContainer {
  width: 20%;
  display: flex;
  position: fixed;
  padding-left: 70%;
}

.ListTransactionsContainer {
  width: 65%;
  padding-left: 20%;
}

.titleTransactions {
  position: fixed;
  display: flex;
  overflow-y: hidden;
  background-color: white;
  padding: 20px;
}

.scrollableTransactionList {
  /* padding-top: 60px; */
  scroll-behavior: smooth;
  /* margin: 100px; */
}
